<div class="toast-container">
    @foreach (var toast in toasts)
    {
        <Toast Title="@toast.Title"
               Message="@toast.Message"
               Type="@toast.Type"
               ShowCloseButton="@toast.ShowCloseButton"
               DurationMs="@toast.DurationMs"
               OnClosed="@(() => RemoveToast(toast))" />
    }
</div>


